/* wire frame - delete later */
header,main,footer {
    border: 1px solid black;
}

/* reset */
body {
    margin: 0;
    padding: 0;
}
    /* Element Selectors */
body {
    background: linear-gradient(lightgreen, white);
    color: blue;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    min-height: 100vh;
}

nav.nav {
    list-style-type: none;
    margin: 0;
    padding: 12px;
    text-align: center;
    font-size: 17px;
    justify-content: space-between;
}

a:link {
    color: lightseagreen;
}

a:visited {
    color: lightseagreen;
}


header {
  align-items: center;
  background: url(../Images/download.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: lightseagreen;
  display: flex;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-content: space-between;
}


header,main,footer {
    padding: 1.5rem;
}
main {
    flex-grow: 1;
    max-width: 80rem;
}
/* classes */
.mt {
    margin-top: 0.75rem;
}
.pt {
    padding-top: 1.5rem;
}

.img {
    border-style: none;
    border-radius: 120px;
}

.imgHoriseon {
    max-width: 80rem;
}

footer { align-items: center;
    justify-content: space-between;
    background: url(../Images/download.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: lightseagreen;
    display: flex;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 17px;
}